<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Witamy w Event Manager</h2>
            Jest to strona przeznaczona do tworzenia oraz uczestniczenia w różnego typu eventach.
            Aktualnie jest to wersja beta tej strony dlatego umożliwia takie rzeczy jak tworzenie 
            różnych eventów. Są to między innymi: piłka nożna, siatkówka, koszykówka,
            koncerty. Co więcej strona posiada możliwość zapisu użytkowników do poszczególnych eventów. Każdy użytkonwnik po 
            zapisie do danego eventu ma możliwość podglądnięcia szczegółów oraz użytkowników uczestniczących w danym evencie.
            </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 d-flex justify-content-center">
            <img routerLink="/login" src="../../assets/images/login (2).png" class="img-rounded" alt="login" width="150" height="150">
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <img routerLink="/register" src="../../assets/images/signup.png" class="img-rounded" alt="signup" width="150" height="150">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 d-flex justify-content-center">
            Zaloguj się
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            Zarejestruj się
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>