<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button (click)="navigateToFormEventPage()" type="button" class="btn btn-primary btn-lg">Stwórz nowe spotkanie</button>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <div *ngFor="let form of formsEvent">
                <div class="card border-primary mb-3" style="max-width: 1000px; max-height: 200px; min-width: 500px;">
                        <h5 class="card-header bg-transparent border-primary">Nazwa: {{form.nameEvent}}</h5>
                        <p class=" card-body card-text ">Miejsce i data: {{form.placeEvent}} - {{form.dateEvent}}</p>
                        <div class="card-footer bg-transparent border-primary">
                            <div class="row">
                            <div class="col-sm-8">
                                <a (click)="formInformation()" class="btn btn-primary">Informacje</a>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text ">Ilość miejsc: 0/{{form.numberPlacesEvent}}</p>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="row mb-5"></div>
</div>