<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <button routerLink="/formEvent" type="button" class="btn btn-primary btn-lg">Stwórz nowe spotkanie</button>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 d-flex justify-content-center">
            <img routerLink="/login" src="../../assets/images/login (2).png" class="img-rounded" alt="login" width="150" height="150">
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            <img routerLink="/register" src="../../assets/images/signup.png" class="img-rounded" alt="signup" width="150" height="150">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 d-flex justify-content-center">
            Zaloguj się
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
            Zarejestruj się
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>