<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <button (click)="navigateToFormEventPage()" type="button" class="btn btn-primary btn-lg">Stwórz nowe spotkanie</button>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-2"></div>
    
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5"></div>
    <div class="col-sm-8 d-flex justify-content-center">
        <ul>
            <li *ngFor="let form of formsEvent">
                {{form.nameEvent}} {{form.descEvent}} {{form.pleaceEvent}}
            </li>
        </ul>
    </div>
</div>