<div class="container">
    <h1>Hi {{currentUser.firstName}}!</h1>
    <div class="row mb-3"></div>
    <h3>Wybierz wydarzenie do którego chcesz dołączyć:</h3>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-6">
            <img routerLink="/football" src="../../assets/images/football.jpg" class="rounded" alt="football" width="350" height="200">
        </div>
        <div class="col-sm-6">
            <img src="../../assets/images/volleyball.jpg" class="rounded" alt="volleyball" width="350" height="200">
        </div>
    </div>
    <div class="row mb-5"></div>
    <div class="row">
        <div class="col-sm-6">
            <img src="../../assets/images/basketball.jpg" class="rounded" alt="basketball" width="350" height="200">
        </div>
        <div class="col-sm-6">
            <img src="../../assets/images/concert.jpg" class="rounded" alt="concert" width="350" height="200">
        </div>
    </div>
    <div class="row mb-5"></div>
</div>